aws_region  = "eu-west-2"
project     = "solirius"
environment = "dev"

db_instance_class   = "db.t3.medium"
db_engine_version   = "15.00.4480.2.v1"
db_parameter_family = "sqlserver-web-15.0"

# Setting repository running GitHub Actions.
github_repository  = "rsharma08/aws-node-sql"
github_environment = "dev"

# If the target account already has a GitHub OIDC provider:
# oidc_provider_arn = "arn:aws:iam::TARGET_ACCOUNT_ID:oidc-provider/token.actions.githubusercontent.com"