aws_region          = "eu-west-2"
environment         = "dev"
project             = "solirius-rebuild"
db_instance_class   = "db.t3.medium"
db_engine_version   = "15.00.4480.2.v1"
db_parameter_family = "sqlserver-web-15.0"

# Setting repository running GitHub Actions.
github_repository  = "rsharma08/aws-node-sql"
github_environment = "dev"


# Replace with the exact "sub" from the workflow's Check OIDC identity step.
github_oidc_subject = "REPLACE_WITH_OIDC_SUBJECT"

# Existing  GitHub OIDC provider:
# oidc_provider_arn = "arn:aws:iam::ACCOUNT_ID:oidc-provider/token.actions.githubusercontent.com"